.Navbar{
    width:15vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    background-color: #0700499c;
    position: absolute;
    right: 0;
    top: 10vh;
    z-index: 10000;

}

.searchHeader{
    color:white ;
    font-size: 25px !important;
}
.searchButton{
    background-color: #070049 !important ;
    margin-top: 5px !important;
    
}

 .MuiOutlinedInput-input{
    color: white !important;
    height:1vh !important

}